.todoContainer {
    flex: 1;
    background: #f5f7fb;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todoContainer h2 {
    margin: 10px 7px 14px;
    font-size: 18px;
    color: #333;
    text-align: left;
}

.todoList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todoList li {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.1);
}

.todoList li:last-child {
    margin-bottom: 0px;
}

.todoCheckbox {
    margin-right: 10px;
}

.checkCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #a1a1a1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.checkCircle.checked {
    background-color: #5429d1;
    border-color: #5429d1;
    position: relative;
}

.checkCircle.checked::after {
    content: "✔";
    color: white;
    font-size: 8px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}