* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #e7ebf3;
}

.container {
  display: flex;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
}